/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

/* Container */
.container {
    width: 200%;
    max-width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Form Box */
.form-box {
    padding: 20px;
    text-align: center;
}

/* Heading */
.form-box h1 {
    margin-bottom: 20px;
    color: teal;
    font-size: 24px;
}

/* Input Group */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: teal;
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 90%;
    padding: 10px;
    border: 1px solid teal;
    border-radius: 5px;
    font-size: 14px;
    color: teal;
    background-color: #f8f8f8;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border-color: darkcyan;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgba(0, 139, 139, 0.349);
}